body{
    background-color: burlywood ;
    background-size: 100%;
}

.main_border {
    font-size:medium;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:rgb(194, 192, 112);
    margin-left: 500px;
    margin-right: 500px;
    width: 510px;
    border: 2px solid black;
    border-radius: 25px;
    position: absolute;
}
            
#header{
    text-align: center;
}

#info{
    padding-left: 20px;
}

#submit{
    text-align: center;
}

input{
    height: 20px;
}

input:focus{
    outline: none;
}

select, input{
    border-radius: 20px;
}

#submit_button{
    height: 50px;
    width: 100px;
    font-size: medium; 
    border: none; 
    border-radius: 20px;
}

.dialog{
    width: 43.41px;
    margin-right: 0px;
    border-radius: 25px;
}

#dialog-content {
    width: 400px;
    margin:40px auto 0px auto;
    border: none;
    border-radius: 25px;
    height: 80px;
    background-color: #c5c5c5;
    box-shadow: 0px 0px 10px #000;
    padding: 10px;
}

#dialog-content p {
    text-align: center;
    color: black;
    text-decoration: none;
    display: block;
}


.dialogbtn:focus{
    outline: none;
}

.dialogbtn:hover {background-color:rgb(165, 165, 165);}

label{
    font-size: small;
    margin-left: 10px;
}

#popup{
    display: none;
    width:100%;
    height: 2000px;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    left: 0px;
}

#close{
    margin-left: 150px;
}

#check_button{
    height: 50px;
    width: 100px;
    font-size: medium; 
    border: none; 
    border-radius: 20px;
}

.dialogbtn{
    height: 50px;
    width: 100px;
    font-size: medium; 
    border: none; 
    border-radius: 20px;
}

/* #check_button:hover{background-color:rgb(165, 165, 165) ;} */
#submit_button:hover{background-color: rgb(165, 165, 165);}
/* #check_button:focus{outline: none;} */
#submit_button:focus{outline: auto;}

#response-popup{
    display: none;
    width:100%;
    height: 2000px;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    left: 0px;
}

.response-content{
    width: 400px;
    margin:40px auto 0px auto;
    border: none;
    border-radius: 25px;
    height: auto;
    background-color: #c5c5c5;
    box-shadow: 0px 0px 10px #000;
    padding: 10px;
}

.response-content p {
    text-align: center;
    color: black;
    text-decoration: none;
    display: block;
}
